* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Heebo", sans-serif;
  height: 100%;
}

.background {
  padding: 30px;
  background-color: #D6E1F0;
  height: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.card {
  height: 72px;
  width: 30%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figcaption {
  text-align: center;
  font-weight: 900;
  margin-top: 20px;
  width: 272px;
  height: 52px;
  font-size: 21px;
}

p {
  margin-top: 21px;
  color: #68778d;
  font-weight: 500;
  text-align: center;
  width: 272px;
}


@media screen and (max-width: 425px) {

  .card {
    height: 430px !important;
    width: 72% !important;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
  }

}




@media screen and (max-width: 576px) {
  .card {
    height: 430px;
    width: 48%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
  }
}

@media screen and (min-width:768px) {
  .background {
    padding: 30px;
    background-color: #D6E1F0;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    height: 432px;
    width: 35%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
  }

  p {
    margin-top: 28px;
    color: #68778d;
    font-weight: 500;
    text-align: center;
    width: 272px;
    margin-bottom: 51px;
  }
}

@media screen and (min-width:1024px) {
  .card {
    height: 514px;
    width: 35%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
  }
}

@media screen and (min-width:1366px) {
  .card {
    height: 690px;
  }


  figcaption {
    text-align: center;
    font-weight: 900;
    margin-top: 20px;
    width: 314px;
    height: 52px;
    font-size: 26px;
  }

  p {
    margin-top: 39px;
    margin-bottom: 0px;
    color: #68778d;
    font-weight: 500;
    text-align: center;
    width: 312px;
    font-size: 20px;
  }

}

@media screen and (min-width:1920px) {
  .card {
    height: 73%;
    width: 25%;
  }

  figcaption {
    text-align: center;
    font-weight: 900;
    margin-top: 20px;
    width: 90%;
    height: 52px;
    font-size: 34px;
  }

  p {
    margin-top: 62px;
    color: #68778d;
    font-weight: 500;
    text-align: center;
    width: 473px;
    font-size: 27px;
  }

  .background {
    padding: 30px;
    background-color: #D6E1F0;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card img {
    width: 96%;
    border-radius: 10px;
  }
}

@media screen and (min-width: 2560px) {
  /* Styles specifically for MacBook Air M1 */

  .background {
    background-color: #D6E1F0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .card {
    height: 43%;
    max-width: 457px;
  }
}